<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Show calendar links</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    </head>
    <body>{% apply spaceless %}
        <ul>
            {% for calendar in calendars %}
                <li>
                    <h2><a href="{{ calendar.url }}">{{ calendar.name }}</a></h2>
                    <ul>
                        <li>
                            <a href="{{ calendar.url_json }}">Calendar (JSON)</a>
                        </li>
                        {% for page in 0..12 %}
                            <li>
                                <a href="{{ calendar.url_raw }}/{{ page }}.json">Calendar page {{ page }} (JSON)</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% endapply %}</body>
</html>
